.foods {
	margin: 4rem;

	h3 {
		border-bottom: 1px solid #3333;
		padding-bottom: 1rem;	
	}
	&__card {
		display: grid;
		grid-gap: 0 15px;
		grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	}
}
