.navbar {
	&__typography {
		position: fixed !important;
		display: flex;
		justify-content: space-between;
		width: 95%;
		z-index: 100;

		&--logo {
			width: 170px;
			height: 50px;
			vertical-align: middle;
			margin-left: 5rem;
		}
	}
	button {
		text-transform: capitalize;
		margin: 0.5rem;
	}
}
