.navbar {
	&__typography {
		position: fixed !important;
		display: flex;
		justify-content: space-between;
		width: 95%;
	}
	button {
		text-transform: capitalize;
		margin: 0.5rem;
	}

	header {
		// background-color: rgb(255, 210, 0);
	}
}
